@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

/* reset elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

* :focus {
    outline: none;
}
/* styles */
body {
    font-family: 'Montserrat', sans-serif;
}

/* mobile design */







/* photos */
.img-top {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    margin: 0.5rem;
}

.img-top i {
    color: #19555C;
    font-size: 7rem;
}

.img-bottom {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}

.img-bottom i {
    color: #19555C;
    font-size: 15rem;
}

/* animation */
.animation {
    animation: fader 2s ease-in-out;
}

@keyframes fader {
    0% {
        opacity: 0;
        transform: translateY(8rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

