@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

/* reset elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

* :focus {
    outline: none;
}
/* styles */
body {
    font-family: 'Montserrat', sans-serif;
}

/* container */
.container {
    display: grid;
    grid-auto-rows: minmax(300px, auto);
    grid-template-areas:
    'header'
    'main'
    'footer'
    ;
    padding: 1rem;
}

/* header */
header {
    grid-area: header;
    padding: 2rem;
    text-align: center;
    background-color: #F6FAFF;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.logo {
    color: #19555C;
    font-weight: 900;
    font-size: 3rem;
}

/* main */
main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
    'user-input'
    'entry'
    ;
}

label, textarea, input, button {
    display: block;
    margin: 0.5rem;
}
textarea, input {
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid #19555C;
    font-weight: 600;
    font-size: 1.1rem;
}

label {
    font-size: 1.2rem;
    font-weight: 700;
    color: #19555C;
}

button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    background-color: #19555C;
    color: #fff;
    border-radius: 0.5rem;
    border: 1px solid #19555C;   
}

.user-input {
    margin: 2rem;
    grid-area: user-input;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

